body>.container {
    margin-top:51px;
}

.login-title {
    text-align:center;
    margin:51px;
}

table .btn {
    padding:0 8px;
}

nav.nav-pager {
    text-align:center;
}

.form-multy-inline .form-group {
    margin:5px 0;
}

.input-append.datetime>input,
.input-append.time>input,
.input-append.date>input{
    border:none;
    outline:none;
}
